{{#each this}}
  <article class="photo">
    <h1>
      <a href="{{url}}">
        <span class="main-photo">
          <span class="photo-fader">
            <img src="{{thumbnailUrl}}" alt="" class="main-photo-img">
          </span>
        </span>
        <span class="title">{{title}}</span>
      </a>
    </h1>
  </article>
{{/each}}
